
<% if @posts.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<ul id = "posts">
   <% @posts.each do |c| %>
   <li><%= link_to c.post, {:action => 'show', :id => c.id} -%></li>
   <b> <%= link_to 'Edit', {:action => "edit",
    :id => c.id} %></b>
    <b> <%= link_to "Delete", {:action => 'delete', :id => c.id},
    :confirm => "Are you sure you want to delete this item?" %></b>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Blog", {:action => 'new' }%></p>
